<h1>Control de Peso</h1>
<p>Aplicación web en RoR para el control de peso</p>

<p>
  <table>
    <tr>
      <td>
        <%= button_to "Nuevo Perfil", new_perfil_path, :method => "get" %>
      </td>
    </tr>
  </table>  
</p>


<footer>
 LICENCIA MIT
</footer>
